.root {
  background-color: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 30px;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__links {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
  }
  a {
    transition: 0.4s ease;
    &:hover {
      opacity: 0.6;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  background-color: black;
  color: #fff;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
  letter-spacing: 0.15px;
  border-radius: 5px;
  padding: 0 10px;
  text-decoration: none;

  &:hover {
    opacity: 1 !important;
    background-color: #4361ee;
  }
}

.logoLink {
  display: flex;
  height: 100%;
  align-items: center;
}

.buttons {
  button {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
  }
}

@media (max-width: 772px) {
  .inner {
    &__links {
      gap: 20px;
    }
  }
  .buttons {
    button {
      padding: 4px 10px;
    }
  }
  .logoLink {
    img {
      width: 60px;
    }
  }
  .logo {
    padding: 3px 6px;
    line-height: 26px;
  }
}

@media (max-width: 380px) {
  .inner {
    &__links {
      gap: 15px;
    }
  }
  .buttons {
    button {
      padding: 3px 8px;
    }
  }
  .logoLink {
    img {
      width: 40px;
    }
  }
  .logo {
    padding: 0px 3px;
    line-height: 20px;
    font-size: 0.75rem;
  }
}